.wrapper {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  pointer-events: none;
}

.modal {
  position: relative;
  z-index: 11;
  width: 720px;
  max-width: 100%;
  background: #1c1c21;
  border-radius: 40px;
  box-shadow:
    0 24px 32px rgb(0 0 0 / 4%),
    0 16px 24px rgb(0 0 0 / 4%),
    0 4px 8px rgb(0 0 0 / 4%),
    0 0 1px rgb(0 0 0 / 4%);
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 40px 40px 0;
}

.close_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}
