.fillings_item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 568px;
  margin-bottom: 16px;
}

.drag_button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
