.header {
  background-color: #1c1c21;
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
  color: #8585ad;
  text-decoration: none;
}

.link_active {
  color: #f2f2f3;
}

.link_position_last {
  display: flex;
  flex-basis: 35%;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
